{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'profile.introduction.long_title'|trans }}</h1>

    <h2>{{ 'profile.introduction.explanation.title'|trans }}</h2>
    <p>{{ 'profile.introduction.explanation.introduction'|trans }}</p>

    <img src="{{ asset('images/schema_nieuw.png') }}"/>

    <h2>{{ 'profile.introduction.purpose.title'|trans }}</h2>
    <p>{{ 'profile.introduction.purpose.profile_storage'|trans }}</p>
    <p>{{ 'profile.introduction.purpose.removal'|trans }}</p>
{% endblock %}
