{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.introduction.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ 'profile.introduction.long_title'|trans }}</h1>

    <h2>{{ 'profile.introduction.explanation.title'|trans }}</h2>
    <p>{{ 'profile.introduction.explanation.introduction'|trans }}</p>

    <img class="introduction-explanation-image" src="{{ global_view_parameters.profileExplanationImage }}"/>

    <h2>{{ 'profile.introduction.purpose.title'|trans }}</h2>
    <p>{{ 'profile.introduction.purpose.profile_storage'|trans }}</p>
{% endblock %}
