{% extends '::base.html.twig' %}

{% block stylesheets %}
    <!--[if IE]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.7/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->
    <link href="{{ asset('mdl/material.min.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ asset('css/font-awesome.min.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/roboto.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/main.css') }}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block body %}
    <div class="mdl-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--white mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">

                <span class="mdl-layout-title">{{ 'profile.application.header'|trans }}</span>

                <div class="mdl-layout-spacer"></div>

                <nav class="mdl-navigation hide-mobile">
                    {% include 'OpenConextProfileBundle::locale-switch.html.twig' %}
                    <a class="mdl-navigation__link" href="{{ global_view_parameters.helpUrl }}">{{ 'profile.navigation.help'|trans }}<i class="fa fa-question-circle"></i></a>
                </nav>

                <nav class="mdl-navigation show-mobile">
                    <a class="mdl-navigation__link" href="#footer">
                        <i class="fa fa-bars"></i>
                    </a>
                </nav>
            </div>
        </header>
        {% if app.session.flashbag is not empty %}
            {% for type, messages in app.session.flashBag %}
                {% for message in messages %}
                <div class="toast">
                    <p>
                        {% if type == 'success' %}
                        <i class="fa fa-check"></i>
                        {% elseif type == 'error' %}
                        <i class="fa fa-exclamation-triangle"></i>
                        {% endif %}
                        {{ message|trans }}
                    </p>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="content-container mdl-color--white mdl-shadow--2dp mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
                    <div class="navigation-tabs">
                        {% include 'OpenConextProfileBundle::navigation-tabs.html.twig' %}
                    </div>
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <footer id="footer" class="footer mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="mdl-grid">
                        <div class="footer-left mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                            <p>{{ 'profile.application.platform_connection_description'|trans }} <a href="{{ global_view_parameters.platformUrl }}">{{ 'profile.application.platform_connection_name'|trans }}</a></p>
                        </div>
                        <div class="footer-mid mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                            {% include 'OpenConextProfileBundle::locale-switch.html.twig' %}
                        </div>
                        <div class="footer-right mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
                            <ul class="footer-navigation">
                                <li>
                                    <a href="{{ global_view_parameters.helpUrl }}">{{ 'profile.navigation.help'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ global_view_parameters.termsOfServiceUrl }}">{{ 'profile.navigation.terms_of_service'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('mdl/material.min.js') }}"></script>
    <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
