{% set route = app.request.attributes.get('_route') %}
<ul>
    <li>
        <a {% if route == 'profile.introduction_overview' %}class="active"{% endif %} href="{{ path('profile.introduction_overview') }}">
            {{ 'profile.introduction.short_title'|trans }}
        </a>
    </li>
    <li>
        <a {% if route == 'profile.my_profile_overview' %}class="active"{% endif %} href="{{ path('profile.my_profile_overview') }}">
            {{ 'profile.profile.short_title'|trans }}
        </a>
    </li>
    <li>
        <a {% if route == 'profile.my_services_overview' %}class="active"{% endif %} href="{{ path('profile.my_services_overview') }}">
            {{ 'profile.services.short_title'|trans }}
        </a>
    </li>
    <li>
        <a {% if route == 'profile.exit_overview' %}class="active"{% endif %} href="{{ path('profile.removal_overview') }}">
            {{ 'profile.removal.short_title'|trans }}
        </a>
    </li>
</ul>
