{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.my_surf_conext.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block contentClasses %}
    content__mySurfConext
{% endblock %}

{% block content %}
    <h1 class="content__title">{{ 'profile.my_surf_conext.short_title'|trans }}</h1>
    <p>{{ 'profile.my_surf_conext.introduction'|trans|escape|replace({'%my_services_link%': '<a href="' ~ path('profile.my_services_overview') ~ '">' ~ 'profile.my_services.short_title'|trans|escape ~ '</a>'})|raw }}<sup>*</sup></p>

    {% include '@OpenConextProfile/MySurfConext/account-data.html.twig' %}
    {% include '@OpenConextProfile/MySurfConext/logging-data.html.twig' %}
    {% include '@OpenConextProfile/MySurfConext/consent-data.html.twig' %}

    {% if userLifecycleIsEnabled %}
        {% include '@OpenConextProfile/MySurfConext/data-download.html.twig' %}
    {% endif %}

    {% set text %}
        <sup>*</sup> {{ 'profile.my_profile.sup_text'|trans }} <a href="{{ path('profile.my_services_overview') }}"> {{ 'profile.my_services.short_title'|trans }}</a>.
    {% endset %}
    {% include '@OpenConextProfile/helpers/paragraph-note.html.twig' with { text: text } %}
{% endblock %}
