{% for attribute in releasedAttributes %}
    {% if attribute.attributeDefinition.hasUrnMace %}
        {% set attributeUrn = attribute.attributeDefinition.urnMace %}
    {% else %}
        {% set attributeUrn = attribute.attributeDefinition.urnOid %}
    {% endif %}
    {% set hasMotivation = specifiedConsent.hasMotivations %}
    {% set translatedAttributeName = ('profile.saml.attributes.' ~ attribute.attributeDefinition.name)|trans({}, 'saml') %}
    {% set nameFormat = sp.nameIdFormat %}
    {% if translatedAttributeName == 'profile.saml.attributes.' ~ attribute.attributeDefinition.name %}
        {% set attributeName = attributeUrn %}
    {% else %}
        {% set attributeName = translatedAttributeName %}
    {% endif %}
    {% set tooltipId = '%id%%index%'|replace({ '%id%': id, '%index%': loop.index })|trim %}
    <li class="attribute__row{% if not hasMotivation %} attribute__noTooltip{% endif %}">
        <div class="attribute__name">
            {{ attributeName }}
            {% if hasMotivation %}
                {% include '@OpenConextProfile/helpers/label.html.twig' with
                    {
                        class: 'tooltip',
                        hideText: true,
                        ariaExpandable: true,
                        id: tooltipId,
                        text: 'accessibility.consent_tooltip_screenreader'|trans({ '%attr_name%': attributeName|lower }),
                    }
                %}
            {% endif %}
        </div>
        <div class="attribute__value">
            {% if attribute.attributeDefinition.name == 'eduPersonTargetedID' and (
                nameFormat.isTransient or
                nameFormat.isPersistent)
            %}
                {% if nameFormat.isTransient %}
                    {{ 'profile.saml.attributes.eduPersonTargetedId.transient'|trans }}
                {%  else %}
                    {{ 'profile.saml.attributes.eduPersonTargetedId.persistent'|trans }}
                {%  endif %}
            {% else %} {# todo: see if this is ok for layout #}
                {% if attribute.value|length > 1 %}
                    <ul class="attribute__values">
                        {% for attributeValue in attribute.value  %}
                            <li class="attribute__value-multiple">{{ attributeValue.value }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ attribute.value[0].value }}
                {% endif %}
            {% endif %}
        </div>
        {% if hasMotivation %}
            {% set tooltipValue = specifiedConsent.motivation(attribute) %}
            <input type="checkbox" tabindex="-1" class="tooltip visually-hidden" aria-expanded="false" role="button" aria-pressed="false" id="{{ tooltipId }}" name="{{ tooltipId }}" />
            {% include '@OpenConextProfile/helpers/tooltip.html.twig' with { tooltipValue: tooltipValue } %}
        {% endif %}
    </li>
{% endfor %}
{# todo: add provided by row #}
