{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.my_profile.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block contentClasses %}
    content__myProfile
{% endblock %}

{% block content %}
    <h1 class="content__title">{{ 'profile.my_profile.short_title'|trans }}</h1>
    <p class="myProfile__intro">{{ 'profile.my_profile.introduction'|trans }} <a href="{{ global_view_parameters.attributeInformationUrl }}">{{ 'profile.my_profile.attributes_information_link_title'|trans }}</a>.</p>

    {% include "@OpenConextProfile/MyProfile/attributes-table.html.twig" %}

    {% if user.hasSupportContactEmail %}
        {% set supportContactEmail = user.supportContactEmail|replace({'mailto:': ''}) %}
        {% set text %}
            <sup>*</sup> {{ 'profile.my_profile.questions'|trans }} <a href="mailto:{{ supportContactEmail }}">{{ supportContactEmail }}</a>.
        {% endset %}
    {% else %}
        {% set text %}
            <sup>*</sup> {{ 'profile.my_profile.questions_no_support_contact_email'|trans }}
        {% endset %}
    {% endif %}

    {% include "@OpenConextProfile/helpers/paragraph-note.html.twig" with {
        className: 'myProfile__note',
        text: text
    } %}

{% endblock %}
