{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.my_profile.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ 'profile.my_profile.long_title'|trans }}</h1>
    <div class="table-overview-container">
        <table class="overview-table mdl-data-table">
            <thead>
            <tr>
                <th>{{ 'profile.table.attribute_name'|trans }}</th>
                <th>{{ 'profile.table.attribute_value'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for attribute in app.user.attributes %}
            <tr>
                <td>
                    <strong>{{ ('profile.saml.attributes.' ~ attribute.attributeDefinition.name)|trans({}, 'saml') }}</strong>
                </td>
                <td>
                    {% if attribute.value is iterable %}
                        {{ attribute.value|join(', ') }}
                    {% else %}
                        {{ attribute.value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
