{# This code presupposes a loop #}
{% if linkId is not defined %}
    {% set linkId = linkIdPrefix ~ loop.index %}
{% endif %}
{% set headerId = 'dialog-header-' ~ loop.index %}

<a
    class="button__secondary--white {{ buttonClass }}"
    data-id="{{ linkId }}"
    href="#{{ linkId }}"
    role="button"
    {% if buttonDescription is defined %} aria-describedBy="{{ buttonDescription }}"{% endif %}
>
    {{ buttonText }}
</a>

<div
    class="modalWindow"
    id="{{ linkId }}"
    role="alertdialog"
    aria-modal="true"
    aria-labelledby="{{ headerId }}"
    aria-describedby="{{ describedBy }}"
>
    <div class="modalWindow__content">
        <h4
            class="modalWindow__header"
            id="{{ headerId }}"
        >{{ modalHeader }}</h4>
        <div class="modalWindow__main">
            {{ modalContent }}
            <div class="modalWindow__buttonRow">
                <a href="#ok" class="button button__secondary--white modalWindow__button modalWindow__cancel"  data-to={{ linkId }}>{{ 'general.cancel'|trans }}</a>
                {{ buttonRowContent }}
            </div>
        </div>
    </div>
</div>
