{% extends '@OpenConextProfile/layout.html.twig' %}

{% block title %}
    {{ 'profile.my_profile.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block contentClasses %}
    content__myProfile
{% endblock %}

{% block content %}
    <h1 class="content__title">{{ 'profile.invite_roles.long_title'|trans }}</h1>
    <p class="content__intro">{{ 'profile.invite_roles.intro'|trans }}</p>

    {% if inviteRoles is not empty %}
        <div class="inviteRoles">
        {% for invite in inviteRoles %}
            <div class="inviteRoles__container">
                {% if invite.hasLogo %}
                <img src="{{ asset('build/images/orcid_small.png') }}" />
                {% endif %}
                <section class="inviteRoles__info">
                    <p>{{ invite.name }}</p>
                    {% if invite.hasApplicationData %}
                    <h3></h3>
                    {% endif %}
                    <span class="inviteRoles__info--description">{{ invite.description }}</span>
                </section>
            </div>
        {% endfor %}
    {% else %}
        <p class="myProfile__noResults">{{ 'profile.invite_roles.no_results'|trans }}</p>
    {% endif %}
{% endblock %}
