<div class="buttonedTitle">
    <h3 class="buttonedTitle__title title__details">Login details</h3>{# todo: make this a translation #}
    <button class="buttonedTitle__button button__secondary--white" aria-describedby="service__deleteDescription">Delete login details<sup>*</sup></button>
</div>
<dl class="service__loginDetails">
    <div class="loginDetails__row">
        {# when was it first used #}
        <dt>{{ 'profile.my_services.consent_first_used_on'|trans }}:</dt>
        <dd>{{ consent.consentGivenOn.date|date('Y-m-d h:i')}}
        </dd>
    </div>
    <div class="loginDetails__row">
        {# who gave consent (explicit = user, implicit = institution) #}
        <dt>{{ 'profile.my_services.consent_type'|trans }}:</dt>
        <dd>{% if consent.consentType.isExplicit %}
                {{ 'profile.my_services.explicit_consent_given'|trans }}
            {% else %}
                {{ 'profile.my_services.implicit_consent_given'|trans }}
            {% endif %}
        </dd>
    </div>
</dl>
<p id="service__deleteDescription" class="service__deleteDescription">
    <sup>*</sup> deleting these login details means eduID removes this information from your eduId account.  You still have an account at the service itself.  If you want that removed, please do so at the service.
</p> {# todo: replace with final text & inject variables #}
