{% if sp.hasEulaUrl or sp.hasSupportUrl(app.request.locale) or sp.hasSupportEmail %}
    <h3>Support</h3>{# todo: make this a translation #}
    <ul class="service__supportList">
        {% if sp.hasEulaUrl %}
            <li class="support__item">
                {# todo: add icon #}
                <a href="{{ sp.eulaUrl }}">{{ 'profile.my_services.eula'|trans }}</a>
            </li>
        {% endif %}
        {% if sp.hasSupportUrl(app.request.locale) %}
            <li class="support__item">
                {# todo: add icon #}
                <a href="{{ sp.getSupportUrl(app.request.locale) }}">
                    {{ 'profile.my_services.support_url'|trans }}
                </a>
            </li>
        {% endif %}
        {% if sp.hasSupportEmail %}
            {% set supportEmail = sp.supportEmail|replace({'mailto:': ''}) %}
            <li class="support__item">
                {# todo: add icon #}
                <i class="prepended fa fa-envelope"></i>
                <a href="mailto:{{ supportEmail }}">{{ 'profile.my_services.supportEmail'|trans }}</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
