{% extends 'OpenConextProfileBundle::layout.html.twig' %}

{% block title %}
    {{ 'profile.my_connections.short_title'|trans }} &mdash; {{ parent() }}
{% endblock %}

{% block content %}
    <h1>{{ 'profile.my_connections.long_title'|trans }}</h1>
    <p>{{ 'profile.my_connections.explanation'|trans }}</p>
    <div class="table-overflow-container">

        <hr>

        <h2>{{ 'profile.my_connections.available_connections'|trans }}</h2>
        <div class="attribute-container">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-layout-title">{{ 'profile.my_connections.service_label'|trans }}</div>
                    <img src="{{ orcid.logoPath }}" title="{{ 'profile.my_connections.orcid.title'|trans }}"/>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-layout-title">{{ 'profile.my_connections.description_label'|trans }}</div>
                    <p>{{ 'profile.my_connections.orcid.description'|trans }}</p>
                </div>
                <div class="mdl-cell mdl-cell--3-col">

                    {% if orcid.isConnected %}
                        <a
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                            target="_blank"
                            href="{{ orcid.disconnectUrl }}">
                            {{ 'profile.my_connections.orcid.disconnect_title'|trans }}
                        </a>
                    {% else %}
                        <a
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            target="_blank"
                            href="{{ orcid.connectUrl }}">
                            {{ 'profile.my_connections.orcid.connect_title'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <h2>{{ 'profile.my_connections.missing_connections'|trans }}</h2>
        <p><a href="mailto:">{{ 'profile.my_connections.send_request'|trans }}</a></p>
    </div>
{% endblock %}
